*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* ...............main css style 1st prat...................... */
.container 2{

    height: 100vh;

}

.Influencer{
    display: flex;
    align-items: center;
    max-width: 1200px;
    padding: 20px;
    margin: 0 auto;

}