*{
    margin: 0%;
    padding: 0%;
    font-family: 'Montserrat', sans-serif;
}
.contianer{
    display: flex;
    width: 100%;
    align-items: center;
}
.banner-title{
    margin: 100px 20px;
    padding: 20px 50px;
}
.banner img{
    margin: 100px 20px;
    padding: 20px 50px;
}
.Stort-title{
    font-size: 50px;
    color: tomato;
    margin-bottom: 20px;
}

.pragraph-title{
    font-size: 15px;
    color: rgb(110, 110, 110);
    margin-bottom: 20px;
}
button{
    font-size: 20px;
    background-color: tomato;
    padding: 10px 20px;
    border-radius: 20px;
}
button a{
    text-decoration: none;
    color: white;
}
/* ..................media qq................. */
@media only screen and (max-width:688px){
    .contianer{
        flex-direction: column-reverse;     
    }
 
}

/* ..........2nd part.................................
............................................ */
/* popular-title......................................... */
.popular-title{
    color: rgb(253, 47, 10);
    font-size: 30px;
    text-align: center;
    margin-bottom: 200px;
}

.contianer2{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;


}
.Banner-images{
    margin: 100px 20px;
    padding: 20px 50px;
}
.fa-star.filled{
    color: tomato;
}
.fa-star.empty{
    color: rgb(230, 230, 230);
}

/* ..................media qq................. */
@media only screen and (max-width:688px){
    .contianer2{
        grid-template-columns: repeat(1, 1fr);
    }
 
}

/* 
................44444444444
..................... */
.container4{
    display: flex;
    padding: 20px 50px;
    align-items: center;
}
.covid19{
    margin-bottom: 130px;
    margin-top: 100px;
}
.covid-title{
    font-size: 50px;
    margin-bottom: 50px;
    color: tomato;

}
.learn{
    margin-bottom: 50px;
}
.covid-19-banner img{
    border-radius: 50px;
}




@media only screen and (max-width:688px){
    .container4{
        flex-direction: column-reverse;
    }
    .covid-19-banner img{
        width: 350px;
    }
}
    


/* ...........................footer........... */
footer{
    height: 200px;
    text-align: center;
    background-color: tomato;
    color: white;
    padding: 20px;
    font-size: 30px;
}
.copyright{
    font-size: 16px;
}
.logo{
    margin-top: 15px;
    align-items: center;
}
@media only screen and (max-width:688px){
    footer{
        width: 100%;
        font-size: 15px;
    }
}